*{
	margin:;0;
	padding:0;
	box-sizing: border-box;
	font-family: 'Open Sans', Sans-serif;
}

body {
	background-color:black;
	text-align: center;
	color:white;
}

html {
	scroll-behavior: smooth;
}

.navbar {
	background-color: transparent !important;
	height: : 100% !important;
}
.navbar .navbar-brand {
	color: lightgrey !important;
	font-size: 2vw !important;
	padding-left: 1%;
}

.navbar a {
    font-size: 1.5em !important;
    font-family: 'raleway';
}

.landing {
	background-color: transparent;
	padding: 16vw;
	background-image: url('../assets/background.jpg');
	background-position: center;
	background-size: cover;
}
.about {
	background-color: transparent;
	padding: 8vw 15vw 15vw 15vw;
}
.about p{
	text-align: left;
	padding-right: 30%;
	font-family: 'raleway';
}

.about h2{
	text-align: left;
	padding-bottom: 5%;
	font-weight: bold;
}

.about img {
  max-width: 40%;
  float:right;
  padding-right: 10%;
}

ul {
	list-style-type: none;
}
.projects {
	background-color: transparent;
	padding-bottom: 10%;
	padding-top: 2%;
}

.projects h2 {
	padding-bottom: 10%;
}

.projects a {
	font-size: 1.5em;
	text-decoration: none;
	color:#f5f5f5;
}
.contact {
	background-color: #101010;
	padding-top: 2%;
	padding-bottom: 10%;
}
.contact h2 {
	padding-bottom: 5%;
}

.footer {
	background-color: #282828;
	padding-top: 20px;
	position: relative;
}

.footer p {
	font-size: 1em;
	color: white;
	font-style: italic;
}
.footer a {
	color: white;
	padding-right: 2%;
}

h1 {
	color: white;
	font-size: 3vw;
	font-family: 'raleway';
}

h2 {
	color: white;
	font-size: 2.2vw;
	font-family: 'lato'; 

}

h3 {
	color: white;
	font-size: 1.8vw;
	font-family: 'raleway';
}
p {
	color: white;
	font-size: 1.9vw;
	font-size: 'raleway';
}
.projects img {
	border-radius: 50%;
	height: 80%;
	width: 50%;
}

#input {
	margin-bottom: 20px;
}

.button2 {
	background-color: darkgrey;
	border: 1px;
	color: black;
	padding-left: 44%;
	padding-right: 46%;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 1vw;
	cursor: pointer;
}

.button1:hover {
   background-color: darkgrey;
   text-align: center;
   text-decoration: none;
   display: inline-block;
}

.button1 a {
	color: black;
}

.container-left {
	float: left;
}

.fab {
	font-size: 2em;
}
.web1 {
   background-color: blue;
   color:black;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: .5em;
}
.web2 {
   background-color: #808080;
   color:white;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: .5em;
}
.web3 {
   background-color: #006400;
   color:white;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: .5em;
}

hr {
   width: 75%;
   height: 10px;
   border: 0 none;
   margin-right: auto;
   margin-left: auto;
   margin-top: 80px;
   margin-bottom:90px;
   background-color:#555;
}