*{
	margin:;0;
	padding:0;
	box-sizing: border-box;
	font-family: 'Open Sans', Sans-serif;
}

body {
	background-color:black;
	text-align: center;
	color:white;
}

html {
	scroll-behavior: smooth;
}

.topnav {
	background-color: black;
	overflow: hidden;
	padding-left: 75%;
}

.topnav a {
	text-decoration: none;
    text-align: left;
	color: white;
	font-size: 1vw;
	padding-right: 12px;
}



.navbar {
	background-color: transparent;
	margin: 10px;
}
.navbar .navbar-brand {
	color: lightgrey !important;
	font-size: 1.5vw;
}

.navbar a {
    color: lightgrey !important;
    font-size: 1.5vw !important;
}

.nav a{
	text-decoration: none;
}

.landing {
	background-color: #282828;
	padding:350px;
	margin: 10px;
	height: 50%;
}

.about {
	background-color: black;
	padding:12%;
	padding-bottom: 10%;
}

.img-right {
	/*height:10%;*/
	/*width: 50%;*/
	float: right;
}

.education {
	background-color: #282828;
	padding-top:10%;
	padding-bottom: 10%;
}

.Hobbies {
	background-color: black;
	padding-top:10%;
	padding-bottom: 10%;
}	

ul {
	list-style-type: none;
}

.Projects {
	background-color: #282828;
	padding-bottom: 15%;
	padding-top: 5%;
}

.Projects h2 {
	padding-bottom: 10%;
}

.contact {
	background-color: black;
	padding-top: 2%;
}
.contact h2 {
	padding-bottom: 10%;
}
.footer {
	background-color: #282828;
	padding-top: 20px;
}

.footer p {
	font-size: 1em;
	color: white;
	font-style: italic;
}
.footer a {
	color: white;
	padding-right: 2%;
}

h1 {
	color: white;
	font-size: 4vw;
}

h2 {
	color: white;
	font-size: 3vw;
}

h3 {
	color: white;
	font-size: 1.50vw;
}
p {
	color: white;
	font-size: 1.20vw;
}

section{
	background-color: #282828;
	margin: 10px;
	padding: 17vw;
}

.projects img {
	border-radius: 50%;
	height: 100%;
	width: 100%;
}

#input {
	margin-bottom: 20px;
}

.button2 {
	background-color: #008cba;
	border: none;
	color: white;
	padding-left: 46%;
	padding-right: 46%;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 1vw;
	cursor: pointer;
}

.button1:hover {
   background-color: grey;
   color:white;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   padding-right: 2%;
   padding-left: 2%;

}

.container-left {
	float: left;
}

.fab {
	font-size: 2em;
}
